.container {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 800px;
  justify-content: center;
  margin: auto;
}

.row {
  display: flex;
  flex: 1;
}

.box {
  border: 2px solid black;
  flex: 1;
}
